* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
  background-color: bisque;
}

/* Header Styles */



.header {
  
  padding: 1em;
  background-image: url("images/Newfolder/bg.png");

  background-repeat: no-repeat;
  
  max-width: 100%;
  min-height: 32em;
  color: black;
      background-position: center center;
  
  
      /* Background image is fixed in the viewport so that it doesn't move when
  the content's height is greater than the image's height */
      background-attachment: fixed;
  
      /* This is what makes the background image rescale based
  on the container's size */
      background-size: cover;
  
     
      background-color: #464646;
    
}
.header__navmenu:hover {
  box-shadow: 15px 15px 20px rgb(204, 177, 177);
  transform: scale(1.07);
}

#header__link {
  color: blue;
}

.header__menu {
  text-decoration: none;
  background: none;
  background-image: url(images/hum.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1em;
  padding: 3%;
  margin-top: 0.5em;
  margin-left: 0.5em;
}

.header__menu:hover {
  cursor: pointer;
  background-color: rgb(60, 60, 60);
  box-shadow: 15px 15px 20px rgb(25, 2, 2);
  transform: scale(1.05);
}

.header__head {
  display: flex;
  
  
}

.header__name {
  font-size:2em;
  
}

.header__motto {
  font-size: 1.5em;
  
  align-items: center;
}
.header__last{
  display:flex;
  flex-direction: column;
  
  gap:1em;
  justify-content: center;
  align-items: center;
  
  


}
.header__mott {
  font-size: 1em;
}


.header__link {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 0.8em;
  padding: 1em;
}

.header__link:hover {
  color: rgb(163, 153, 153);
  background-color: rgb(207, 32, 32);
  letter-spacing: 2px;

}

/* Navigation Bar Styles */
.header__img {
  width: 3.3em;
}

.header__navmenu {

  
  border-radius: 2em;
  background-color: rgb(158, 158, 119);
  display: none;
  flex-direction: column;
  padding: 0.5em;
  max-width: fit-content;
  position: relative;
  /* float:left; */
  font-size: large
}
.main{
  padding: 4em;
}

.main__h1{
  font-size: 2.5em;
  text-align: center;
}
.main__h2{
  font-size: 1.75em;

}
.main__p{
  justify-content: center;
  text-align: justify;
  margin: 20px 0;

}

.main__div1{
  display: flex;
  flex-direction: row;
  margin:auto;
  
  
  padding-right: 1em;
  justify-content: center;
  align-items: center;
}
.main__div2 {
  display: flex;
  flex-direction: row;
  margin: 2em ;
  
  max-width:68%;
    
    padding: 10px;
    justify-content: center;
    align-items: center;
    

}
.main__div1 h2,.main__box1{
  margin: 0 2em;

}
.main__div2 h2,
.main__box2 {
  margin: 0 2em;}
.main__div3 h2,
.main__box3 {
  margin: 0 2em;

}
.main__div3 {
  display: flex;
  flex-direction: row;
  margin: auto;
    
    padding: 10px;

    justify-content: center;
    align-items: center;

}
.main__box1,.main__box2,.main__box3{
  max-width:100%;
  padding: 2em;
  background-color: rgb(178, 202, 202);
  border:solid ;
  border-radius: 4em;
  transition: all 0.5s linear;
  box-shadow: 2px 2px 4px 0px #006773;
  
    
  
  margin: auto;
  display: flex;
  align-items: center;


}


.main__box1:hover{
box-shadow: 15px 15px 20px rgba(0, 0, 0, 1);
  transform: scale(1.06);
}
.main__box2:hover{
  box-shadow: 15px 15px 20px rgba(0, 0, 0, 1);
    transform: scale(1.06);

}
.main__box3:hover {
  box-shadow: 15px 15px 20px rgba(0, 0, 0, 1);
  transform: scale(1.06);
}
.main__audio{
transition: all 0.5s linear;
  box-shadow: 2px 2px 4px 0px #006773;
  border-radius: 8px;
  width: 22vw;
  height: 8vh;
  background-color: black;
  margin: auto;
  display: flex;
  align-items: center;

}
.main__audio:hover{
  box-shadow: 15px 15px 20px rgba(0, 0, 0, 1);
    transform: scale(1.06);
}
.main__second{
  display: flex;
  flex-direction: row;
  align-content: space-around;
  align-items: center;
}
.main__tr {
  border-bottom: 2px solid gray;
}

.main__tr:hover {
  background-color: rgb(91, 140, 100);
  color: rgb(218, 14, 14);
  transform: scale(1.02);
}
.main__th {
  text-align: center;
  height: 50px;
  font-size: 20px;
  border: 10px solid rgb(71, 103, 122);
  border-radius: 4px;
  padding: 4px;
}
.main__td {
  border: 10px solid rgb(71, 103, 122);
  border-radius: 4px;
  padding: 4px;
}
.main__table {
  border: 10px solid rgb(71, 103, 122);
  border-radius: 4px;
  width: 40%;
  margin:auto;
}
.main__link {
  margin: 1em;
  font-size: larger;
}
.main__link:hoover{
  color: rgb(255, 255, 255);
    background-color: aqua;
}




/* Footer Styles */
.footer {
  background-color: rgb(206, 216, 221);
  
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.footer__block {
  font-size: 1.5em;
}

.footer__para {
  font-size: 1em;
}

.footer__link {
  font-style: italic;
  font-size: 1.5em;
}

.footer__link:hover {
  color: #ccc;
}




@media only screen and (min-width:768px) {
  .footer {
    display: grid;
    justify-content: center;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr;
    grid-template-areas:
      ". col1 . col2 ."
      ". . col3 . .";
  }
  .header__name{
    font-size: 3em;
  }

  .header__menu {
    display: none;
  }

  .footer__column0 {
    grid-area: col1;
  }

  .footer__column2 {
    grid-area: col3;
  }

  .footer__column1 {
    grid-area: col2;
  }
  .header__mott{
    font-size:1.8em;

  }
  .header__motto{
    font-size: 2.4em;
  }

  .header__navmenu {
    display: flex;
    flex-direction: row;
    
    justify-content: space-around;
    float: right;
    max-width: 100%;
  }
}