* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
  background-color: bisque;
}

/* Header Styles */



.header {

  padding: 1em;
  background-image: url("images/Newfolder/bg.png");

  background-repeat: no-repeat;

  max-width: 100%;
  min-height: 32em;
  color: black;
  background-position: center center;


  /* Background image is fixed in the viewport so that it doesn't move when
  the content's height is greater than the image's height */
  background-attachment: fixed;

  /* This is what makes the background image rescale based
  on the container's size */
  background-size: cover;


  background-color: #464646;

}

#header__link {
  color: blue;
}

.header__menu {
  text-decoration: none;
  background: none;
  background-image: url(images/hum.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1em;
  padding: 3%;
  margin-top: 0.5em;
  margin-left: 0.5em;
}

.header__menu:hover {
  cursor: pointer;
  background-color: rgb(60, 60, 60);
  box-shadow: 15px 15px 20px rgb(25, 2, 2);
  transform: scale(1.05);
}

.header__head {
  display: flex;


}

.header__name {
  font-size: 2em;

}

.header__motto {
  font-size: 1.5em;

  align-items: center;
}

.header__last {
  display: flex;
  flex-direction: column;

  gap: 1em;
  justify-content: center;
  align-items: center;




}

.header__mott {
  font-size: 1em;
}


.header__link {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 0.8em;
  padding: 1em;
}

.header__link:hover {
  color: rgb(163, 153, 153);
  background-color: rgb(207, 32, 32);
  letter-spacing: 2px;

}
.header__navmenu:hover {
  box-shadow: 15px 15px 20px rgb(204, 177, 177);
  transform: scale(1.07);
}

/* Navigation Bar Styles */
.header__img {
  width: 3.3em;
}

.header__navmenu {


  border-radius: 2em;
  background-color: rgb(158, 158, 119);
  display: none;
  flex-direction: column;
  padding: 0.5em;
  margin-left: 2em;
  max-width: fit-content;
  position: relative;
  /* float:left; */
  font-size: large
}



.main__form {
  width: 50vw;
  padding: 1.5em;
}

.main__text {

  
  margin-top: 3em;
  
  height: fit-content;
  width: fit-content;

  border-radius: 2em;
  background-color: #9a9c9b;
  padding: 1em;
  padding-left: 3em;

  text-align: center;
  
  margin-bottom: 5em;
  
  box-shadow: #13d5eb;

}

.main__text:hover {
  box-shadow: 15px 15px 20px rgba(0, 0, 0, 1);
  transform: scale(1.06);
}

.main__formm {
  
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: center;
  width:50%;

}

main input {
  
  width: 17rem;
  border: 0px;
  border: 3px solid rgb(255, 255, 255);
  
  padding: 14px;
  font-size: 12px;
  box-shadow: 2px 2px 4px 0px #1e5b62;
  border-radius: 8px;
}

.main input:hover {
  box-shadow: 15px 15px 20px rgba(0, 0, 0, 1);
  transform: scale(1.06);
}

.main__button:hover {
  color: aquamarine;
  background-color: rgb(79, 179, 195);
}



.main__message {
  padding: 3em 2em;
}

.main__textarea {

  box-shadow: 2px 2px 4px 0px #1e5b62;
  border-radius: 8px;
}

.main__textarea:hover {
  color: aquamarine;
  background-color: rgb(179, 179, 195);

}

.main__para {
  font-size: 1.2em;
  padding: 1em 0;
  font-weight: bold;

}

.main__button {

  background-color: rgb(20, 173, 120);
  border: 2px solid rgb(181, 243, 222);
  font-size: 18px;
  border-radius: 2em;
  width: fit-content;

  height: 40px;
  margin-top: 7px;
  padding: 6px;
  margin-left: 6em;
}

.main__label {
  margin-left: 1.9em;
}




/* Footer Styles */
.footer {
  background-color: rgb(206, 216, 221);

  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.footer__block {
  font-size: 1.5em;
}

.footer__para {
  font-size: 1em;
}

.footer__link {
  font-style: italic;
  font-size: 1.5em;
}

.footer__link:hover {
  color: #ccc;
}



@media only screen and (min-width:768px) {
  .footer {
    display: grid;
    justify-content: center;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr;
    grid-template-areas:
      ". col1 . col2 ."
      ". . col3 . .";
  }

  .header__name {
    font-size: 3em;
  }

  .header__menu {
    display: none;
  }

  .footer__column0 {
    grid-area: col1;
  }

  .footer__column2 {
    grid-area: col3;
  }

  .footer__column1 {
    grid-area: col2;
  }

  .header__mott {
    font-size: 1.8em;

  }

  .header__motto {
    font-size: 2.4em;
  }

  .header__navmenu {
    display: flex;
    flex-direction: row;

    justify-content: space-around;
    float: right;
    max-width: 100%;
  }
}