* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
  background-color: bisque;
}

/* Header Styles */



.header {

  padding: 1em;
  background-image: url("images/Newfolder/bg.png");

  background-repeat: no-repeat;

  max-width: 100%;
  min-height: 32em;
  color: black;
  background-position: center center;


  /* Background image is fixed in the viewport so that it doesn't move when
  the content's height is greater than the image's height */
  background-attachment: fixed;

  /* This is what makes the background image rescale based
  on the container's size */
  background-size: cover;


  background-color: #464646;

}

#header__link {
  color: blue;
}

.header__menu {
  text-decoration: none;
  background: none;
  background-image: url(images/hum.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1em;
  padding: 3%;
  margin-top: 0.5em;
  margin-left: 0.5em;
}

.header__menu:hover {
  cursor: pointer;
  background-color: rgb(60, 60, 60);
  box-shadow: 15px 15px 20px rgb(25, 2, 2);
  transform: scale(1.05);
}

.header__head {
  display: flex;


}

.header__name {
  font-size: 2em;

}

.header__motto {
  font-size: 1.5em;

  align-items: center;
}

.header__last {
  display: flex;
  flex-direction: column;

  gap: 1em;
  justify-content: center;
  align-items: center;




}

.header__mott {
  font-size: 1em;
}


.header__link {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 0.8em;
  padding: 1em;
}

.header__link:hover {
  color: rgb(163, 153, 153);
  background-color: rgb(207, 32, 32);
  letter-spacing: 2px;

}

/* Navigation Bar Styles */
.header__img {
  width: 3.3em;
}

.header__navmenu {


  border-radius: 2em;
  background-color: rgb(158, 158, 119);
  display: none;
  flex-direction: column;
  padding: 0.5em;
  max-width: fit-content;
  position: relative;
  /* float:left; */
  font-size: large;

}
.header__navmenu:hover{
    box-shadow: 15px 15px 20px rgb(204, 177, 177);
      transform: scale(1.07);
}


main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

main h1 {
  text-align: center;
  width: 100%;
  margin-bottom: 50px;
}

main div {
  width: 50%;
  margin: 3.5em 5em 50px;
  border-radius: 3em;
  align-items: center;
  justify-content: center;
  box-shadow: 15px 15px 20px rgb(152, 85, 85);
    transform: scale(1.06);
  }
  
.main__divv:hover{
    box-shadow: 15px 15px 20px rgb(135, 77, 77);
      transform: scale(0.9);
}
.main__divv{
  margin-bottom: 5em;
}



main video {
 
  width: 100%;
  
  height:auto;
}
.main__div{
  background-color: rgb(76, 76, 97);
  border-radius:0.5em;

}
main video:hover{
  box-shadow: 15px 15px 20px rgb(135, 69, 69);
    transform: scale(1.05);
  }
main p{
  font-size: 1em;
  text-align: center;
}
/* Footer Styles */
/* Footer Styles */
.footer {
  background-color: rgb(206, 216, 221);
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.footer__block {
  font-size: 1.5em;
}
.footer__para {
  font-size: 1em;
}

.footer__link {
  font-style: italic;
  font-size: 1.5em;
}

.footer__link:hover {
  color: #ccc;
}




@media only screen and (min-width:768px) {
  .footer {
    display: grid;
    justify-content: center;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr;
    grid-template-areas:
      ". col1 . col2 ."
      ". . col3 . .";
  }

  .header__name {
    font-size: 3em;
  }

  .header__menu {
    display: none;
  }

  .footer__column0 {
    grid-area: col1;
  }

  .footer__column2 {
    grid-area: col3;
  }

  .footer__column1 {
    grid-area: col2;
  }

  .header__mott {
    font-size: 1.8em;

  }

  .header__motto {
    font-size: 2.4em;
  }

  .header__navmenu {
    display: flex;
    flex-direction: row;

    justify-content: space-around;
    float: right;
    max-width: 100%;
  }
}